.post
  = post_date(@last_post)
  %h2.title= post_link(@last_post)
  .content
    = @last_post.body_html

- if @posts.any?
  #older-posts
    %h3 El periódico de ayer...
    %ul
      - @posts.each do |post|
        %li
          = post_date(post)
          %h4= post_link(post)
