.post
  = post_date(@last_post)
  %h2.title= post_link(@last_post)
  .content
    = @last_post.body_html

- if @posts.any?
  #older-posts
    %h3 El periódico de ayer...
    %ul
    - @posts.each do |p|
      %li
        = post_date(p)
        %h4= link_to(p.title, '#')
