.post
  = post_date(@last_post)
  %h2.title= link_to(@last_post.title, '#')
  .content
    = prettify(@last_post.body)

- if @posts.any?
  #older-posts
    %h3 El periódico de ayer...
    %ul
    - @posts.each do |p|
      %li
        = post_date(p)
        %h4= link_to(p.title, '#')
