- title @post.title

.post
  = post_date(@post)
  %h2.title= post_link(@post)

  %p.comments_count
    = image_tag 'comment-icon.png'
    = post_link(@post, 'Comentarios', 'disqus_thread')

  .content
    = @post.body_html
  #comments
    :plain
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="#{APP_CONFIG[:disqus][:widget]}"></script><noscript><a href="#{APP_CONFIG[:disqus][:noscript]}">View the discussion thread.</a></noscript>
