!!! Strict
%html{ "xml:lang" => "es", :lang => "es", :xmlns => "http://www.w3.org/1999/xhtml" }

%head
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  = syntax_css('espresso_libre')

  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %title Rubén On Rails

%body
  #container
    #header
      %h1= link_to "Blog.create(:name => 'Rubén On Rails')", root_url 
    #main
      #content
        = yield
      #menu
        %ul
          %li= link_to 'Inicio'
          %li= link_to 'Acerca de', '/about'
          %li= link_to 'Archivo', '/archives'
        #categories
          %h4 Buscador
          - form_tag '/search', :method => :get do
            = text_field_tag 'q', nil, :size => 8
            = submit_tag 'Buscar', :name => nil
          %h4 Categorias
          = render 'layouts/categories'
    #footer
      #delicious
        %h3 Mi Delicious
        - cache 'delicious', :expire => 10.minutes do
          %ul
            - recent_bookmarks.each do |b|
              %li= link_to(truncate(b.title, :length => 40), b.url.to_s, :title => b.title)
      #twitter
        %h3 Mi Twitter
        - cache 'twitter', :expire => 10.minutes do
          %ul
            - recent_tweets.each do |text, id|
              %li= link_to(truncate(text, :length => 40), "http://twitter.com/rdavila/status/#{id}", :title => text)
      #github
        %h3 Mi Github
        #github-badge
        %script(type="text/javascript" charset="utf-8")
          GITHUB_USERNAME="rdavila";
          GITHUB_LIST_LENGTH=10;
          GITHUB_THEME="black"; // try 'black'
          GITHUB_TITLE = "Mis proyectos"
          GITHUB_SHOW_ALL = "Show all"
        %script(src="http://drnic.github.com/github-badges/dist/github-badge-launcher.js" type="text/javascript")

  :plain
    <script type="text/javascript">
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/blogtest2009/get_num_replies.js' + query + '"></' + 'script>');
      })();
    //]]>
    </script>
